<!DOCTYPE html>
<html class=" js no-touch csstransforms3d csstransitions">

<head>
<style>
    html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
}
</style>   
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
<script>
$(document).ready(
    iframeResize()
);
function iframeResize()
{

$("#holder").css('height',window.innerHeight).css('width',window.innerWidth);

}
$(function() {
                    window.onresize = iframeResize;
                    iframeResize();
                });
</script>
</head>
<body>
<iframe id="holder" src=<%=@source.url%> seamless='seamless'  allowfullscreen style="display:block;margin: 0px;
    padding: 0px;"></iframe>
</body>